[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
"psycopg2-binary" = "*"
django-registration = "*"
django-allauth = "*"
jupyter = "*"
numpy = "*"
opencv-python = "*"
ipykernel = "*"
matplotlib = "*"
django-jquery = "*"
common = "*"
django-nose = "*"
coverage = "*"

[dev-packages]
factory-boy = "*"

[requires]
python_version = "3.7"
