{% extends "add/book_add_base.html" %}

{% block add_content %}
  <h1>Spine Extractor</h1>

  <!-- Upload form. Note enctype attribute! -->
  <form action="{% url "book_scan" %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <p>{{ form.non_field_errors }}</p>
    <p>{{ form.docfile.label_tag }} </p>
    <p>
            {{ form.docfile.errors }}
            {{ form.docfile }}
    </p>
    <p><input type="submit" value="Scan" /></p>
  </form>

{#  <div class="collection_page">#}

  <!-- List of uploaded documents -->
  {% if documents %}
    <ul>
    <div class ="image_box">
      {% for document in documents %}
        <li>
  {#        <a href="{{ document.docfile.url }}">{{ document.docfile.name }}</a>#}
          <img  src="{{ document.docfile.url }}" alt="{{ document.docfile.name }}">
      </li>
      {% endfor %}
    </div>
    </ul>
    <div class="book_google_results">
      {% for i, result in results %}
        <div class="book_info">
            <div class="book_info_container">
              <img src="{{ result.image_url }}"/>
            </div>
            <p>{{ result.title | title  }}</p>
            <p>By: {{ result.author }}</p>

          <input type="button" id="add-button-{{ i }}" value="Add to your collection" />
        </div>
      {% endfor %}
    </div>
  {% else %}
    <p>No documents.</p>
  {% endif %}


{#  </div>#}
{% endblock %}
