{% extends "add/book_add_base.html" %}

{% block add_content %}

<div class="book_search_add">
{#  <h1>Search for a book</h1>#}
  <form action="/add/search/" method="POST">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit" placeholder='e.g., Harry Potter, J.K. Rowlings'/>
  </form>
 </div>

<div class="book_google_results">
  {% for i, result in results %}
    <div class="book_info">
        <div class="book_info_container">
          <img src="{{ result.image_url }}"/>
        </div>
        <p>{{ result.title }}</p>
        <p>{{ result.author }}</p>

      <input type="button" id="add-button-{{ i }}" value="Add to your collection" onclick="add_to_collection({{result}}, {{ i }})" />
    </div>
  {% endfor %}
</div>

<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }} /static/jquery/jquery-3.3.1.min.js"></script>
<script>
  var csrftoken = Cookies.get('csrftoken');

function csrfSafeMethod(method) {
  // these HTTP methods do not require CSRF protection
  return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}

    function add_to_collection(context, index){
      $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

      $.ajax({
        type: "POST",
        url: '/add/post/',
        data: context,
        success: $(`#add-button-${index}`).after( "<span>Added to your collection</span>" ),
        });
    }
  </script>

{% endblock %}
