{% extends "add/book_add_base.html" %}

{% block add_content %}
  <h1>Smart Scan Coming Soon!</h1>

  <!-- Upload form. Note enctype attribute! -->
  <form action="{% url "book_scan" %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <p>{{ form.non_field_errors }}</p>
    <p>{{ form.docfile.label_tag }} </p>
    <p>
            {{ form.docfile.errors }}
            {{ form.docfile }}
    </p>
    <p><input type="submit" value="Upload" /></p>
  </form>

{#  <div class="collection_page">#}

  <!-- List of uploaded documents -->
  {% if documents %}
    <ul>
    <div class ="image_box">
      {% for document in documents %}
        <li>
  {#        <a href="{{ document.docfile.url }}">{{ document.docfile.name }}</a>#}
          <img  src="{{ document.docfile.url }}" alt="{{ document.docfile.name }}">
      </li>
      {% endfor %}
    </div>
    </ul>
  {% else %}
    <p>No documents.</p>
  {% endif %}


{#  </div>#}
{% endblock %}
